body {
    background: linear-gradient(135deg, #d0f5ee, #e8f2ff);
    min-height: 100vh;
}

.card-box {
    padding: 30px;
    border-radius: 14px;
    min-height: 200px;
    transition: 0.2s;
}

.card-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.card-box h3 {
    color: #003a7a;
}

.card-box p {
    color: #333;
}
